# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\复习\06-05-2022\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
